


















/* === ALL === */

.hidden {display:none;}

.marginTop {margin-top:20px;}
.marginNull {margin:0px;}

.mg0 {margin:0px;}

.mt10 {margin-top:10px;}
.mt20 {margin-top:20px;}
.mt30 {margin-top:30px;}
.mt40 {margin-top:40px;}
.mt50 {margin-top:50px;}
.mt60 {margin-top:60px;}
.mt70 {margin-top:70px;}

.mb10 {margin-bottom:10px;}
.mb20 {margin-bottom:20px;}
.mb30 {margin-bottom:30px;}
.mb40 {margin-bottom:40px;}
.mb50 {margin-bottom:50px;}

.ml10 {margin-left:10px;}
.ml20 {margin-left:20px;}
.ml30 {margin-left:30px;}
.ml40 {margin-left:40px;}
.ml50 {margin-left:50px;}
.ml60 {margin-left:60px;}

.mr10 {margin-right:10px;}
.mr20 {margin-right:20px;}
.mr30 {margin-right:30px;}
.mr40 {margin-right:40px;}

.pt0  {padding-top:0px;}
.pt55 {padding-top:55px;}

.pb0 {padding-bottom:0px;}
.pb55 {padding-bottom: 55px;}

.pad10 {padding:10px;}

.ftl {float:left;}
.ftr {float:right;}

.algcenter {text-align: center;}
.algright {text-align: right;}
.algleft {text-align: left;}
.algjust {text-align: justify;}

.ht55 {height:55px;}

.wid600 {width:600px;}

.fs10 {font-size:10px;}
.fs12 {font-size:12px;}
.fs14 {font-size:14px;}
.fs16 {font-size:16px;}
.fs18 {font-size:18px;}
.fs20 {font-size:20px;}

.nostyle {text-decoration: none; color:black;}
.nostyle:hover {color:black;}